:root {
    --color: #00cbe6;
    --txt: rgb(255, 255, 255);
}

body {
    font-family: 'Roboto', arial;
    /* margin: 0;
    padding: 0; */
    text-align: center;
    background-color: rgba(241, 238, 238, 0.516);
}

#wrapper {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    background-color: #FFF;
}

.container {
    display: flex;
    flex-direction: column;
}

/* header part */

.navbar {
    color: var(--txt);
    display: flex;
    align-items: center;
    padding: 20px 0px 0px 10px;
    background-color: #1A232F;
    box-shadow: 0 10px 20px -1px rgb(24, 24, 24);
}

.header-logo img {
    width: 50px;
    height: 50px;
    margin-right: auto;
}

.links {
    list-style-type: none;
    font-size: 18px;
    display: flex;
    margin-left: auto;
    padding: 0px 10px 15px 0px;
    color: white;
}

.navbar a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
}

/* Welcome Area */

header {
    display: flex;
    color: var(--txt);
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    padding: 90px;
}

.header-cta {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 0;
}

.header-cta p {
    font-family: 'Roboto', arial;
}

header h1 {
    font-size: 36px;
    font-weight: bold;
    color: var(--txt);
    margin: 0;
    font-family: 'Roboto', arial;
    text-shadow: 5px 6px 2px rgb(0, 0, 0);
}

.header-image img {
    max-width: 100%;
    height: auto;
    box-shadow: 0 10px 20px -1px rgb(24, 24, 24),
        inset 0 20px 20px -0px rgb(32, 32, 32);
}

.header-image figcaption {
    font-size: 12px;
}

.timetable {
    padding: 20px;
    overflow-x: auto;
    /* overflow-y: auto; */
    /* 605 */
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-size: 0.8rem;
    /*     padding: 10px; */
    margin-right: auto;
    margin-left: auto;
}

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 5px 10px;
}

th {
    background-color: rgb(235, 235, 235);
}

td {
    text-align: center;
}

tr:nth-child(even) td {
    background-color: rgb(250, 250, 250);
}

tr:nth-child(odd) td {
    background-color: rgb(245, 245, 245);
}

/* Blog */

.blog {
    display: flex;
    background-color: #e5e7eb;
    flex-direction: column;
}

.content {
    height: 100%;
    width: 100%;
}


.blog h2 {
    font-size: 28px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    text-align: center;
}

.blog b {
    font-size: 28px;
    color: #1f2937;
    text-align: center;
    /* padding-top: 200px; */
}

.blog p {
    font-size: 18px;
    padding: 0 10px 10px;
}

.blog ul,
ol,
dl {
    text-align: left;
    color: #1f2937;
}

.blog-photo {
    display: flex;
    max-width: 20%;
    align-items: center;
}

.blog figcaption {
    text-align: left;
}

/* Changes the colour for every nth Div to differentiate each blog post */

main.blog>article:nth-of-type(even) {
    background: #ffffff;
    padding-top: 20px;
}

.blog blockquote {
    padding: 1vw;
}

#quote {
    background-color: transparent;
    color: black;
    font-size: 14px;
}

#semanticsQuote {
    font-size: 16px;
}

.descriptions {
    padding: 1vw;
}

/* Footer */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: #1f2937;
}

/* Media query for smaller screens */

@media screen and (max-width: 1250px) {
    /* #wrapper {
        margin-left: 7vw;
        margin-right: 7vw;
    } */

}

@media screen and (max-width: 1000px) {
    header {
        padding: 50px
    }

    .blog-photo {
        max-width: 35%;
    }

    /* #wrapper {
        margin-left: 0vw;
        margin-right: 0vw;
    } */

}


@media screen and (max-width: 900px) {
    header {
        padding: 40px
    }

    .blog-photo {
        max-width: 40%;
    }
}

@media screen and (max-width: 800px) {

    body {
        font-size: 16px;
    }

    .navbar {
        padding: 10px 0 0 10px;
    }

    .header-logo img {
        width: 40px;
        height: 40px;
    }

    .links {
        font-size: 16px;
    }

    header {
        padding: 20px;
        flex-direction: column;
        align-items: flex-start;
    }

    h1 {
        font-size: 24px;
    }

    .blog h2 {
        font-size: 24px;
    }

    .blog b {
        font-size: 24px;
    }

    .blog p {
        font-size: 16px;
        padding: 0 10px 10px;
    }

    .blog-photo {
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {

    .timetable {
        display: none;
    }

}

@media screen and (max-width: 500px) {
    header {
        padding: 20px
    }

    .navbar a {
        font-size: 14px;
    }

    .blog-photo {
        max-width: 60%;
    }
}

/* Removes image on small phones */

@media screen and (max-width: 389px) {

    .header-image img,
    figcaption {
        display: none;
    }

    .blog-photo {
        max-width: 60%;
        /* max-height: 50%; */
    }

    .blog p {
        font-size: 18px;
        padding: 0 10px 10px;
    }
}